<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/_layout">

<body layout:fragment="content">

    <div class="row">

        <div class="x_panel">

            <h3 style=" color:black ;text-align: center; font-size: 20px; margin-bottom: 25px;">Store Information Form</h3>
            <div class="x_content">

                <div id="pnl-info">

                    <h4 style="color:black ;">Store Information</h4>
                    <button type="button" class="btn btn-sm btn-warning " style="float: right; margin-top: -37px;" id="backbtn"><i class="fa fa-reply"></i> Back To List </button>
                    <div style="border-bottom:2px solid #E6E9ED;"></div><br>

                    <input type="hidden" id="storeInfoId" name="storeInfoId"/>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Name<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <input type="text" class="form-control" id="name" name="title" placeholder="Enter Name">
                            <span class="errorClass" id="error_name" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Code<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <input type="text" class="form-control" id="code" name="title" placeholder="Enter Code">
                            <span class="errorClass" id="error_code" style="color: red;"></span>
                        </div>
                    </div>






                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">District<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <select class="  form-control"  id="districtId" name="districtId">
                                <option value="">Choose District</option>
                                <option th:each="dis : ${getDistrict}" th:value="${dis.districtId}" th:text="${dis.districtName}"></option>
                            </select>
                            <span class="errorClass" id="error_districtId" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Thana<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <select class="  form-control"  id="thanaId" name="thanaId">
                                <option value="">Choose Thana</option>
                                <option th:each="tha : ${getThana}" th:value="${tha.thanaId}" th:text="${tha.thanaName}"></option>
                            </select>
                            <span class="errorClass" id="error_thanaId" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Store Type<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <select class="form-control" id="storeType" name="storeType">
                                <option value="">Choose Store Type</option>
                                <option value="1">selling </option>
                                <option value="2">buying </option>
                                <option value="3">both </option>
                            </select>
                            <span class="errorClass" id="error_storeType" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Address<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <textarea type="text" class="form-control" id="address" name="title" placeholder="Enter Address"></textarea>
                            <span class="errorClass" id="error_address" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Description<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <textarea type="text" class="form-control" id="description" name="description" placeholder="Enter Description"></textarea>
                            <span class="errorClass" id="error_description" style="color: red;"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 ">
                        <label class="col-sm-3 " style="color: black; font-size: 14px;">Remark<span class="mandatory">*</span></label>
                        <div class="col-sm-9  form-group">
                            <textarea type="text" class="form-control" id="remark" name="remark" placeholder="Enter Remark"></textarea>
                            <span class="errorClass" id="error_remark" style="color: red;"></span>
                        </div>
                    </div>

                    <br><br><br><br><br><br><br><br><br>

                    <div class="col-sm-6 col-xs-12 ">

                        <label class="col-form-label  col-sm-5 label-align"></label>
                        <div class="col-sm-7  form-group ">
                            <br>
                            <button type="button" class="btn btn-bg btn-success" id="Save">Save <i class="fa fa-save"></i></button>


                            <br><br>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>

                <div  id="pnl-list">

                    <div class="clearfix"></div>
                    <div class="col-sm-12 col-xs-12">
                        <h4 style="color:black ;">Store Information Data List</h4>
                        <a href="#" id ="addNewUnitBtnAdd" style="float: right; margin-top: -35px;" class="btn btn-link pull-right"><i class="fa fa-plus-circle"></i> Add New</a>
                        <div style="border-bottom:2px solid #E6E9ED;"></div><br>

                        <table style="color: black; font-size: 13px;" class="table table-bordered table-hover table-condensed" id="dataTable" width="100%">
                            <thead>
                            <tr>
                                <th  hidden style="text-align: center;">storeInfoId</th>
                                <th  style="text-align: center;">Name</th>
                                <th  style="text-align: center;">Code</th>
                                <th  hidden style="text-align: center;">Store Type Code</th>
                                <th  hidden style="text-align: center;">District Code</th>
                                <th  hidden style="text-align: center;">Thana Code</th>
                                <th  style="text-align: center;">Store Type</th>
                                <th  style="text-align: center;">District</th>
                                <th  style="text-align: center;">Thana</th>
                                <th  style="text-align: center;">Address</th>
                                <th  style="text-align: center;">Description</th>
                                <th  style="text-align: center;">Remark</th>
                                <th  style="text-align: center;">Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="storeInfo : ${getStoreInformationData}">
                                <td  hidden style="text-align: center;" th:text="${storeInfo.storeInfoId}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.name}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.code}"></td>
                                <td  hidden style="text-align: center;" th:text="${storeInfo.storeType}"></td>
                                <td  hidden style="text-align: center;" th:text="${storeInfo.district.districtId}"></td>
                                <td  hidden style="text-align: center;" th:text="${storeInfo.thana.thanaId}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.storeType}=='1'? 'selling ':'both'"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.district.districtName}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.thana.thanaName}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.address}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.description}"></td>
                                <td  style="text-align: center;" th:text="${storeInfo.remark}"></td>
                                <td  style="text-align: center;"><button id="edit" type="button" class="btn btn-info fa fa-edit" style="text-align:center;vertical-align: middle;font-size:13px;"></button></td>
                            </tr>
                            </tbody>

                            <tfoot>
                            </tfoot>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>







</body>
<div layout:fragment="css"></div>
<div layout:fragment="script">
    <script src="/application/js/group-sum-assured-return.js"></script>
</div>

</html>