/*Oishe - Education*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}
/*End Oishe - Education*/