<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Supply Chain-CNIERP <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>


    <!-- /footer content -->
    <!-- jQuery -->
    <script src="/theme/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/theme/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/theme/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/theme/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/theme/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/theme/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/theme/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/theme/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/theme/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/theme/vendors/Flot/jquery.flot.js"></script>
    <script src="/theme/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/theme/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/theme/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/theme/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/theme/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/theme/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/theme/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/theme/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/theme/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/theme/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/theme/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/theme/vendors/moment/min/moment.min.js"></script>
    <script src="/theme/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom themee Scripts -->
    <script src="/theme/build/js/custom.min.js"></script>
</div>