<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <title>CNI-ERP(Supply Chain)</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/theme/images/favicon.ico" type="image/ico" />


    <!-- Bootstrap -->
    <link href="/theme/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/theme/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/theme/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/theme/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/theme/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/theme/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/theme/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom themee Style -->
    <link href="/theme/build/css/custom.min.css" rel="stylesheet">
    <div layout:fragment="css"></div>



    <!--    &lt;!&ndash; Static navbar &ndash;&gt;-->
<!--    <nav class="navbar navbar-default">-->
<!--        <div class="container-fluid">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
<!--                        aria-expanded="false" aria-controls="navbar">-->
<!--                    <span class="sr-only">Toggle navigation</span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--                <a class="navbar-brand" href="#">Project name</a>-->
<!--            </div>-->
<!--            <div id="navbar" class="navbar-collapse collapse">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li class="active"><a href="#">Home</a></li>-->
<!--                    <li><a href="#">About</a></li>-->
<!--                </ul>-->

<!--                <ul class="nav navbar-nav navbar-right">-->
<!--                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
<!--                    <li><a href="/theme/navbar-static-top/">Static top</a></li>-->
<!--                    <li><a href="/theme/navbar-fixed-top/">Fixed top</a></li>-->
<!--                </ul>-->
<!--            </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
<!--        </div>&lt;!&ndash;/.container-fluid &ndash;&gt;-->
<!--    </nav>-->
</header>