label,table{
    color: #555;
    /*background: #251577;*/
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.371;
}

a {

    cursor: pointer;
}
.round-border{
    border: 1px solid #E6E9ED;


}


tr.clickable-product-row:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

tr.clickable-product-row:hover td {
    background-color: lightskyblue;
}

.cust-search-lnk-label{
    font-stretch: condensed;
    font: message-box;
    color: blue;
    font-weight: bold;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

#tbl-asset-current-register>tbody>tr{
    cursor: pointer;
}