td.details-control {
    background: url('/uploads/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/uploads/details_close.png') no-repeat center center;
}