ul {
    list-style-type: none;
}

#submitButton {
    visibility: hidden;
}

input[type=checkbox] {
    margin-left: 20px;
    margin-top: 1px \9;
    line-height: normal;
}
.dropdown {
    width: -ms-max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -o-max-content;
}

.moduleStyle {
    font-size: large;
    color: rgb(32, 59, 140);
}

.subModuleStyle {
    font-size: larger;
    color: rgb(56, 124, 166);
}

.routeStyle {
    font-size: medium;
    color: rgb(90, 134, 191);

}