#option-box {
    width: 800px;
    height: 800px;
    padding: 20px;
    margin: 100px auto;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid #000;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}

.tree-menu ul { list-style: none; }

.tree-menu > ul { padding: 0; }

.tree-menu a {
    display: block;
    vertical-align: middle;
    text-decoration: none;
    padding: 6px;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 1px;
    color: #002888;
    -moz-transition: background-color 0.25s linear;
    -webkit-transition: background-color 0.25s linear;
    -o-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
    -moz-transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.tree-menu a:hover {
    color: #002888;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}

.tree-menu .active > a:hover,
.tree-menu .selected > a,
.tree-menu a:hover { background-color: #c6cdde; }

.tree-menu .selected > a {
    color: #002888;
    font-weight: bold;
    text-decoration: none;
}

.tree-menu .active > a { background-color: #e1e3e9; }

.tree-menu .closed > a,
.tree-menu .opened > a {
    padding-left: 24px;
    background-position: 4px 8px;
    background-repeat: no-repeat;
}

.tree-menu .closed > a { background-image: url(/theme/production/images/icon-expand.gif); }

.tree-menu .opened > a { background-image: url(/theme/production/images/icon-collapse.gif); }



.btn-group button {
    color: white; /* White text */
    padding: 8px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

#edit-btn {
    /*background-color: #4CAF50; !* Green background *!*/
    /*border: 1px solid green; !* Green border *!*/
}

#delete-btn {
    /*background-color: #FF1800;*/
    /*border: 1px solid #FF1800;*/
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    /*background-color: #3e8e41;*/
}


button {
    display: none; /* Hide button */
}

#tree-menu:hover button {
    display: block; /* On :hover of div show button */
}

/*.pull-right {*/
/*display: none;*/
/*!*display: block;*!*/
/*}*/

/*.pull-right:hover {*/
/*display: block;*/
/*}*/

.btn-group {
    display: none;
    margin-left: 10px;
}

.btn {
    margin-left: 10px;
}
/*.error{*/
/*!*display: none;*!*/
/*margin-left: 10px;*/
/*}*/

/*.error_show{*/
/*display: block;*/
/*color: red;*/
/*margin-left: 10px;*/
/*}*/

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

#access-id, #module-select-id, #subModule-select-id {
    display: none;
}

.not-active {
    color : #9fb1e0 !important;
}

label {
    display: inline-block;
    text-align: left !important;
}

